@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    @apply antialiased text-gray-900;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .touch-scroll {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x proximity;
    overflow-y: hidden;
  }
}